[Unit]
Description=Update the mirror

[Service]
User=root
ExecStart=/opt/mirror/mirror-update
# make sure we instantly see the output of the script in journald
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=basic.target
